.navbar{
	height: 80px;
	padding: 0 60px 0 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	background: #9575CD;
}
.navbar-item{
	margin: 20px;
	color: #fff;
	padding: 10px;
}
.navbar-item.title{
	font-size: 20px;
	margin-right: auto;
	text-align: center;
}
.navbar-item:hover{
	border-bottom: 1px solid rgba(149, 117, 205, 0.8);
}
.navbar-item.title:hover{
	background: transparent;
	border-radius: 0;
	transition: 0;
}
@media screen and (max-width: 960px){
	.navbar{
		padding: 0;
	}
	.navbar-item{
		margin: 10px;
	}
	.navbar-item.title{
		font-size: 18px;
	}
}